<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <h2 class="card text-center font-weight-bold text-white", style="background-color:#ff7400"> No completados!</h2>
            <% @todos.each do |todo| %>        
                <% if !todo.completed == true %>
                    <div class='card card-body bg-light'>
                        <div>
                        <p> <span class = "font-weight-bold">Detalles:</span> <%= todo.description %></p> 
                        <p> <span class = "font-weight-bold"> ¿Completada?:</span> 
                            <% if todo.completed == true %> 
                            Si, por supuesto.
                            <% else %>
                            No, pendiente.
                            <% end %> </p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="col-sm-6">
        <h2 class="card text-center font-weight-bold text-white", style="background-color:#ff7400"> Completados!</h2>
            <% @todos.each do |todo| %>        
                <% if todo.completed == true %>
                    <div class='card card-body bg-light'>
                        <div>
                        <p> <span class = "font-weight-bold">Detalles:</span> <%= todo.description %></p>
                        <p> <span class = "font-weight-bold"> ¿Completada?:</span> 
                            <% if todo.completed == true %> 
                            Si, por supuesto.
                            <% else %>
                            No, pendiente.
                            <% end %> </p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>