<div class="jumbotron", style="background-color: #FDCD59">
<p>Esta es la ToDo: <%= @todo.description %></p>
<p>¿Esta completada?: <% if @todo.completed == true %> 
     Si
    <% else %>
     No
    <%end%>
</p>
<br>
<%= link_to 'Volver a Todos las ToDo', todos_path, class: 'btn btn-primary' %>
</div>